{% extends 'base.html' %}
{% load static %}
{% block content %}
<article>
        <section
          class="section recent-post"
          id="recent"
          aria-labelledby="recent-label"
        >
          <div class="container">
            <div class="post-main blog">
              <h2 class="headline headline-2 section-title">
                <span class="span">المدونة</span>
              </h2>

              <p class="section-text">لا تفوت الجديد</p>

              <ul class="grid-list">
                {% for post in posts %}
                <li>
                  <div class="recent-post-card">
                    <figure
                      class="card-banner img-holder"
                      style="--width: 271; --height: 258"
                    >
                      <img
                        src="{{ post.image.url }}"
                        width="271"
                        height="258"
                        loading="lazy"
                        alt="Helpful Tips for Working from Home as a Freelancer"
                        class="img-cover"
                      />
                    </figure>

                    <div class="card-content">
                      <a href="{{ post.subcategory.slug }}" class="card-badge">{{ post.subcategory }}</a>

                      <h3 class="headline headline-3 card-title">
                        <a href="{{ post.slug }}" class="link hover-2"
                          >{{ post.title }}</a>
                      </h3>

                      <p class="card-text">
                        {{ post.description|truncatechars:100 }}
                      </p>
                    </div>
                  </div>
                </li>
                {% endfor %}
              </ul>

              <nav aria-label="pagination" class="pagination">
                <a href="#" class="pagination-btn" aria-label="previous page">
                  <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
                </a>

                <a href="#" class="pagination-btn">1</a>
                <a href="#" class="pagination-btn">2</a>
                <a href="#" class="pagination-btn">3</a>
                <a href="#" class="pagination-btn" aria-label="more page"
                  >...</a
                >
                <a href="#" class="pagination-btn" aria-label="next page">
                  <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
                </a>
              </nav>
            </div>

{#            <div class="post-aside grid-list">#}
{#              <div class="card aside-card">#}
{#                <h3 class="headline headline-2 aside-title">#}
{#                  <span class="span">Popular Posts</span>#}
{#                </h3>#}
{##}
{#                <ul class="popular-list">#}
{#                  <li>#}
{#                    <div class="popular-card">#}
{#                      <figure#}
{#                        class="card-banner img-holder"#}
{#                        style="--width: 64; --height: 64"#}
{#                      >#}
{#                        <img#}
{#                          src="./assets/images/popular-post-1.jpg"#}
{#                          width="64"#}
{#                          height="64"#}
{#                          loading="lazy"#}
{#                          alt="Creating is a privilege but it’s also a gift"#}
{#                          class="img-cover"#}
{#                        />#}
{#                      </figure>#}
{##}
{#                      <div class="card-content">#}
{#                        <h4 class="headline headline-4 card-title">#}
{#                          <a href="#" class="link hover-2"#}
{#                            >Creating is a privilege but it’s also a gift</a#}
{#                          >#}
{#                        </h4>#}
{##}
{#                        <div class="warpper">#}
{#                          <p class="card-subtitle">15 mins read</p>#}
{##}
{#                          <time class="publish-date" datetime="2022-04-15"#}
{#                            >15 April 2022</time#}
{#                          >#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </li>#}
{##}
{#                </ul>#}
{#              </div>#}
{##}
{#              <div class="card aside-card">#}
{#                <h3 class="headline headline-2 aside-title">#}
{#                  <span class="span">Last Comment</span>#}
{#                </h3>#}
{##}
{#                <ul class="comment-list">#}
{#                  <li>#}
{#                    <div class="comment-card">#}
{#                      <blockquote class="card-text">#}
{#                        “ Gosh jaguar ostrich quail one excited dear hello and#}
{#                        bound and the and bland moral misheard roadrunner “#}
{#                      </blockquote>#}
{##}
{#                      <div class="profile-card">#}
{#                        <figure class="profile-banner img-holder">#}
{#                          <img#}
{#                            src="./assets/images/author-6.png"#}
{#                            width="32"#}
{#                            height="32"#}
{#                            loading="lazy"#}
{#                            alt="Jane Cooper"#}
{#                          />#}
{#                        </figure>#}
{##}
{#                        <div>#}
{#                          <p class="card-title">Jane Cooper</p>#}
{##}
{#                          <time class="card-date" datetime="2022-04-15"#}
{#                            >15 April 2022</time#}
{#                          >#}
{#                        </div>#}
{#                      </div>#}
{#                    </div>#}
{#                  </li>#}
{##}
{#                </ul>#}
{#              </div>#}
{#            </div>#}
{#          </div>#}
        </section>
      </article>
   {% endblock %}