{% extends 'base.html' %}
{% load static %}
{% block content %}
      <article>
        <section class="hero" id="home" aria-label="home">

        </section>

        <!--
        - #Categories
      -->
        <section class="category" id="category" aria-label="category">
          <div class="container">
            <h2 class="category-title">{{ category.name }}</h2>
            <!-- Category Pragraph -->
            <div class="category-pragraph">
              <h4 class="card">حماية منازل كاملة</h4>
              <p>
                تنظيف منازل: نحن نجعل منزلك نظيفًا وخاليًا من الأوساخ والبقع، حتى تتمكن من الاسترخاء والاستمتاع به.
                تنظيف فلل: نحن نجعل منزلك الفاخر يبدو وكأنه جديد تمامًا، حتى تتمكن من الشعور بالفخر به.
                تنظيف شقق: نحن نجعل شقتك أنيقة ومنظمة، حتى تتمكن من الاستمتاع بوقتك فيها.
                تنظيف مجالس: نحن نجعل مجلسك فخمًا ومميزًا، حتى تتمكن من استضافة الضيوف بهدوء.
                تنظيف كنب: نحن نجعل كنبك نظيفًا وصحيًا، حتى تتمكن من الاسترخاء عليه.
                تنظيف سجاد: نحن نجعل سجادك نظيفًا وخاليًا من البقع، حتى تتمكن من الاستمتاع بالمشي عليه.
                تنظيف خزانات: نحن نجعل خزاناتك نظيفة وجديدة، حتى تتمكن من تخزين أغراضك بشكل أنيق.
                مكافحة الحشرات: نحن نجعل منزلك خالٍ من الحشرات، حتى تتمكن من العيش في بيئة آمنة.
                تلميع أرضيات: نجعل أرضياتك لامعة ومتألقة، حتى تتمكن من الاستمتاع بمنظرها.
                تنظيف واجهات: نجعل واجهات منزلك نظيفة وخالية من الأوساخ، حتى تتمكن من الشعور بالفخر به.
                
                
                نستخدم أحدث التقنيات والمعدات لضمان حصولك على أفضل النتائج. كما أن لدينا فريقًا من الموظفين المدربين تدريبًا عاليًا والذين سيبذلون قصارى جهدهم لجعل منزلك نظيفًا ومرتبًا.
                نحن نؤمن بأن منزلك هو ملاذك الآمن، ونحن ملتزمون بتوفير لك الراحة والراحة التي تستحقها. إذا كنت تبحث عن شركة تنظيف منازل بحفر الباطن تلبي جميع احتياجاتك، فإن سما كلين هي الخيار الأفضل لك.
                اتصل بنا اليوم لجعل بيتك أكثر نظافة!
                </p>
            </div>
            <div class="category-pragraph">
              <h4 class="card">شركة تنظيف بحفر الباطن</h4>
              <p>
                في سما كلين نقدم خدمات تنظيف مكاتبك وأماكن عملك لضمان بيئة نظيفة ومريحة للعاملين فيها. تشمل خدماتنا:
              1- تنظيف مكاتب وغرف الاجتماعات: نقوم بتنظيف المكاتب وترتيبها بعناية لضمان أن يكون لديك مكان عمل مرتب ومريح.
              2- تنظيف الممرات والمداخل: نساعد في الحفاظ على نظافة الممرات والمداخل لإعطاء انطباع جيد للزوار.
              3- تنظيف المطابخ ومناطق الاستراحة: نحافظ على نظافة مناطق تناول الطعام والاستراحة لتوفير بيئة صحية ومريحة للموظفين.
              4- تنظيف النوافذ والزجاج: نقوم بتنظيف النوافذ والزجاج لضمان دخول أقصى قدر من الإضاءة الطبيعية.
                اتصل بنا اليوم لحجز خدمة تنظيف مكتبك ودعنا نعمل على توفير بيئة عمل نظيفة وجذابة.
              </p>
            </div>
            <!-- Category Pragraph -->
            <div class="category-pragraph">
              <h4 class="card">خدمة النظافة الشاملة </h4>
              <p>
                اننا دوماً نتميز وبشدة في كل الخدمات الخاصة بشركة تنظيف مجالس
                مهما كان منزلك كبيرًا أو صغيرًا، يمكن لسما كلين توفير خدمات تنظيف شاملة تتضمن:

                1- تنظيف الأرضيات والسجاد: نقوم بتنظيف الأرضيات والسجاد باستخدام أحدث التقنيات والمعدات لضمان إزالة الأوساخ والبقع بفعالية.
                
                2- تنظيف الأثاث والأسطح: نعامل أثاثك وأسطحك بعناية فائقة للحفاظ على جمالها ونظافتها.
                
                3- تنظيف المطابخ والحمامات: نقوم بتطهير وتنظيف المطابخ والحمامات باستخدام مواد آمنة وفعالة.
                
                4- تنظيف النوافذ والزجاج: نساعد في إضافة لمسة نهائية مشرقة من خلال تنظيف النوافذ والزجاج.
                
                5- تنظيف المساحات الخارجية: إذا كان لديك فناء أو حديقة، فإننا نقوم بتنظيفها لتكون بيئة خارجية جذابة ونظيفة.
                كما تتضمن الخدمة تنظيف السجاد والمفروشات:
                
                1- فحص وتقييم الأثاث: نقوم بفحص الأثاث والسجاد لتحديد أفضل طريقة لتنظيفها.
                
                2- تنظيف عميق وإزالة البقع: نستخدم تقنيات متقدمة لتنظيف عميق وإزالة البقع الصعبة.
                
                3- التجفيف السريع: نقوم بتجفيف السجاد والمفروشات بسرعة لضمان عودتك إلى استخدامها بأقرب وقت ممكن.
                
                4- حماية وصيانة: نقوم بتوفير خدمات الحماية والصيانة للمساعدة في الحفاظ على جودة الأثاث والسجاد على المدى الطويل.                
              </p>
            </div>
            <!-- Category Pragraph -->

          </div>
        </section>
      </article>
    </main>
    <!-- 
        - #RECENT POST
      -->
    <section
      class="section recent-post"
      id="recent"
      aria-labelledby="recent-label"
    >
      <div class="container">
        <div class="post-main">
          <ul class="grid-list">
            {% for post in posts %}
            <li class="card">
              <div class="recent-post-card">
                <figure
                  class="card-banner img-holder"
                  style="--width: 271; --height: 258"
                >
                  <img
                    src="{{ post.image.url }}"
                    width="271"
                    height="258"
                    loading="lazy"
                    alt=""
                    class="img-cover"
                  />
                </figure>

                <div class="card-content">
                  <a href="{% url 'core:category' slug=category.slug %}" class="card-badge">{{ category.name }}</a>

                  <h3 class="headline headline-3 card-title">
                    <a href="{% url 'core:blog_post' %}" class="link hover-2"
                      >{{ post.title}} | {{ contact_information.telephone }}</a
                    >
                  </h3>

                  <p class="card-text">
                      {{ post.description|truncatechars:100 }}
                  </p>

                  <div class="card-wrapper">
                    <div class="btn show-more">المزيد</div>
                  </div>
                </div>
              </div>
            </li>
              {% endfor %}
          </ul>

          <nav aria-label="pagination" class="pagination">
            <a href="#" class="pagination-btn" aria-label="previous page">
              <ion-icon name="arrow-back" aria-hidden="true"></ion-icon>
            </a>

            <a href="#" class="pagination-btn">1</a>
            <a href="#" class="pagination-btn">2</a>
            <a href="#" class="pagination-btn">3</a>
            <a href="#" class="pagination-btn" aria-label="more page">...</a>

            <a href="#" class="pagination-btn" aria-label="next page">
              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </a>
          </nav>
        </div>
      </div>
    </section>
</article>
{% endblock %}