{% extends 'base.html' %}
{% load static %}
{% block content %}
<article>
        <section class="accordion" aria-labelledby="accordion-label" id="faq">
          <div class="container">
            <h2 class="headline headline-2 section-title" id="accordion-label">
              <span class="span">الأسئلة الشائعة </span>
            </h2>
            <div class="acc-container">
              <ul>
                  {% for question in questions %}
                <li class="card">
                  <input type="checkbox" checked />
                    <i></i>
                  <h3>{{ question.title }}</h3>
                  <p>
                    {{ question.content }}
                  </p>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </section>
        <!-- 
        - #RECENT POST
      --></article>

{% endblock %}