{% extends 'base.html' %}
{% load static %}
{% block content %}
      <article>
        <section class="tags services-page" aria-labelledby="tag-label">
          <div class="container">
            <h2 class="headline headline-2 section-title" id="tag-label">
              <span class="span">خدمات سما كلين | {{ contact_information.telephone }} </span>
            </h2>

            <p class="section-text">نقدم لك العديد من الخدمات</p>
            <ul class="grid-list">
                {% for category in categories %}
              <li>
                <a href="{{ category.slug }}" class="card tag-btn">
                  <div>
                    <h3 class="btn-text">{{ category.name }}</h3>
                  </div>
                  <p>
                      {{ category.description }}
                  </p>
                </a>
              </li>
                {% endfor %}
            </ul>
          </div>
        </section>
      </article>
{% endblock %}